body {
    background-color: #0d1117;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    margin: 0;
}

.container {
    background-color: #21262d;
    padding: 30px;
    border-radius: 10px;
    width: 600px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

h1 { text-align: center; margin-bottom: 25px; }

.input-form { display: flex; gap: 10px; margin-bottom: 15px; }

input {
    background-color: #0d1117;
    border: 1px solid #30363d;
    color: white;
    padding: 10px;
    border-radius: 6px;
    flex: 1;
}

#addBtn {
    background-color: #8993f9;
    border: none;
    width: 50px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    padding: 8px 15px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
}

#filterBtn { background-color: #30363d; color: white; }

#filterSelect {
    background-color: #30363d;
    color: white;
    border: none;
    padding: 7px;
    border-radius: 6px;
    margin-left: 5px;
}

#deleteAllBtn { background-color: #8993f9; color: black; }

.hidden { display: none; }

.list-container {
    background-color: #0d1117;
    border-radius: 8px;
    padding: 15px;
}

table { width: 100%; border-collapse: collapse; }
th { text-align: left; color: #8b949e; font-size: 11px; padding: 10px; border-bottom: 1px solid #30363d; }
td { padding: 12px 10px; font-size: 14px; border-bottom: 1px solid #21262d; }

.status-txt { cursor: pointer; text-decoration: underline; color: #8993f9; }
.del-btn { color: #f85149; background: none; border: none; text-decoration: underline; cursor: pointer; }

#noTaskMsg { text-align: center; color: #8b949e; margin-top: 20px; }