body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Custom UI for Date Picker */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0.8) sepia(100%) saturate(1000%) hue-rotate(190deg);
    cursor: pointer;
}

/* Smooth Transition for Status Toggles */
.task-done {
    text-decoration: line-through;
    color: #475569 !important;
    opacity: 0.6;
}

/* Custom Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #0b0e14; }
::-webkit-scrollbar-thumb { background: #1c212c; border-radius: 10px; }
::-webkit-scrollbar-thumb:hover { background: #312e81; }